<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="pledg_gateway" translate="label" sortOrder="100" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pledg Payment Gateway - Configuration générale</label>
                <field id="staging" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Staging</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
		<field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
            <group id="pledg_gateway_1" translate="label" sortOrder="200" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pledg Payment Gateway - 1ère Solution de paiement</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label comment" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/store/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/store/logo</base_url>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant UID</label>
                </field>
                <field id="seuil" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" type="text">
                    <label>Montant minimum d'activation du moyen de paiement</label>
                    <comment>Indiqué ici le montant minimum de la commande pour activer ce moyen de paiement.</comment>
                    <tooltip>Laissez "0" si vous ne voulez pas appliquer de montant minimum.</tooltip>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
            <group id="pledg_gateway_2" translate="label" sortOrder="300" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pledg Payment Gateway - 2ème Solution de paiement</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label comment" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/store/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/store/logo</base_url>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant UID</label>
                </field>
                <field id="seuil" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" type="text">
                    <label>Montant minimum d'activation du moyen de paiement</label>
                    <comment>Indiqué ici le montant minimum de la commande pour activer ce moyen de paiement.</comment>
                    <tooltip>Laissez "0" si vous ne voulez pas appliquer de montant minimum.</tooltip>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
            <group id="pledg_gateway_3" translate="label" sortOrder="400" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pledg Payment Gateway - 3ème Solution de paiement</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label comment" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/store/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/store/logo</base_url>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant UID</label>
                </field>
                <field id="seuil" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" type="text">
                    <label>Montant minimum d'activation du moyen de paiement</label>
                    <comment>Indiqué ici le montant minimum de la commande pour activer ce moyen de paiement.</comment>
                    <tooltip>Laissez "0" si vous ne voulez pas appliquer de montant minimum.</tooltip>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
            <group id="pledg_gateway_4" translate="label" sortOrder="500" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pledg Payment Gateway - 4ème Solution de paiement</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label comment" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/store/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/store/logo</base_url>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant UID</label>
                </field>
                <field id="seuil" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" type="text">
                    <label>Montant minimum d'activation du moyen de paiement</label>
                    <comment>Indiqué ici le montant minimum de la commande pour activer ce moyen de paiement.</comment>
                    <tooltip>Laissez "0" si vous ne voulez pas appliquer de montant minimum.</tooltip>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
            <group id="pledg_gateway_5" translate="label" sortOrder="600" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pledg Payment Gateway - 5ème Solution de paiement</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label comment" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/store/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/store/logo</base_url>
                </field>
                <field id="seuil" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" type="text">
                    <label>Montant minimum d'activation du moyen de paiement</label>
                    <comment>Indiqué ici le montant minimum de la commande pour activer ce moyen de paiement.</comment>
                    <tooltip>Laissez "0" si vous ne voulez pas appliquer de montant minimum.</tooltip>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant UID</label>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
            <group id="pledg_gateway_6" translate="label" sortOrder="700" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pledg Payment Gateway - 6ème Solution de paiement</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label comment" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/store/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/store/logo</base_url>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant UID</label>
                </field>
                <field id="seuil" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" type="text">
                    <label>Montant minimum d'activation du moyen de paiement</label>
                    <comment>Indiqué ici le montant minimum de la commande pour activer ce moyen de paiement.</comment>
                    <tooltip>Laissez "0" si vous ne voulez pas appliquer de montant minimum.</tooltip>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
            <group id="pledg_gateway_7" translate="label" sortOrder="800" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pledg Payment Gateway - 7ème Solution de paiement</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label comment" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/store/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/store/logo</base_url>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant UID</label>
                </field>
                <field id="seuil" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" type="text">
                    <label>Montant minimum d'activation du moyen de paiement</label>
                    <comment>Indiqué ici le montant minimum de la commande pour activer ce moyen de paiement.</comment>
                    <tooltip>Laissez "0" si vous ne voulez pas appliquer de montant minimum.</tooltip>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
            <group id="pledg_gateway_8" translate="label" sortOrder="900" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pledg Payment Gateway - 8ème Solution de paiement</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label comment" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/store/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/store/logo</base_url>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant UID</label>
                </field>
                <field id="seuil" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" type="text">
                    <label>Montant minimum d'activation du moyen de paiement</label>
                    <comment>Indiqué ici le montant minimum de la commande pour activer ce moyen de paiement.</comment>
                    <tooltip>Laissez "0" si vous ne voulez pas appliquer de montant minimum.</tooltip>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
            <group id="pledg_gateway_9" translate="label" sortOrder="1000" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pledg Payment Gateway - 9ème Solution de paiement</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label comment" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/store/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/store/logo</base_url>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant UID</label>
                </field>
                <field id="seuil" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" type="text">
                    <label>Montant minimum d'activation du moyen de paiement</label>
                    <comment>Indiqué ici le montant minimum de la commande pour activer ce moyen de paiement.</comment>
                    <tooltip>Laissez "0" si vous ne voulez pas appliquer de montant minimum.</tooltip>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
            <group id="pledg_gateway_10" translate="label" sortOrder="1100" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Pledg Payment Gateway - 10ème Solution de paiement</label>
                <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="description" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Description</label>
                </field>
                <field id="gateway_logo" translate="label comment" type="image" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Logo</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <frontend_model>Pledg\PledgPaymentGateway\Block\System\Config\Form\Field\Image</frontend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">sales/store/logo</upload_dir>
                    <base_url type="media" scope_info="1">sales/store/logo</base_url>
                </field>
                <field id="api_key" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Merchant UID</label>
                </field>
                <field id="seuil" translate="label" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="0" type="text">
                    <label>Montant minimum d'activation du moyen de paiement</label>
                    <comment>Indiqué ici le montant minimum de la commande pour activer ce moyen de paiement.</comment>
                    <tooltip>Laissez "0" si vous ne voulez pas appliquer de montant minimum.</tooltip>
                    <validate>validate-digits validate-not-negative-number</validate>
                </field>
                <field id="sort_order" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Sort Order</label>
                    <frontend_class>validate-number</frontend_class>
                </field>
            </group>
        </section>
    </system>
</config>

